@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --fore-color: white;
    --back-color: #161616;
    --lighter: #ffffff10;
    --loader-color: #ffffff30;
    --transition: cubic-bezier(0.65, 0.05, 0.36, 1);
    --sidebar-width: 30vmin;
}

body {
    background-color: var(--back-color);
    color: var(--fore-color);
    font-family: 'Inter', sans-serif;
}

html, body, main, #__next {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gameboard>tbody>tr>td {
    font-size: 30px;
    width: calc((100vmin - var(--sidebar-width)) / 3);
    height: calc((100vmin - var(--sidebar-width)) / 3);
    background-color: var(--lighter);
    border-radius: 10%;
    border: 2px solid var(--lighter);
    transition: var(--transition) .3s;
}

.gameboard>tbody>tr>td>div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard>tbody>tr>td:active {
    transform: scale(0.9);
}

.disabled {
    opacity: 0.5;
}

.moveRating {
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    transform: translate(50%, -50%);
    color: white;

    font-weight: 600;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 2px 8px #0000005e;
}

.moveRating>* {
    text-shadow: 0px 2px 8px #0000005e;
}

.moveRating.blunder {
    background-color: #ba4138;
}

.moveRating.brilliant {
    background-color: #51a9a5;
}

.moveRating.great {
    background-color: #688bac;
}

.moveRating.book {
    background-color: #a38869;
}

.moveRating.best {
    background-color: #9cb95a;
}

.moveRating.mistake {
    background-color: #d99342;
}

.moveRating.compelled {
    background-color: #9bae8e;
}

.moveRating.missed-win {
    background-color: #c8a445;
}

.moveRating.engine-error {
    background-color: #ba4138;
}

.sidemenu {
    width: var(--sidebar-width);
    background-color: var(--lighter);
    border: 2px solid var(--lighter);
    border-radius: 10px;
    padding: 30px;
}

.sidemenu>.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loader {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.loader>* {
    width: .8em;
    height: .8em;
    background-color: var(--loader-color);
    border-radius: 100%;
    animation: pulse .9s ease-in-out infinite;
}

.loader>*:nth-child(2) {
    animation-delay: .3s;
}

.loader>*:nth-child(3) {
    animation-delay: .6s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}